.o_web_client {
    .o_main_navbar { border-bottom: 3px solid #aa2b22; }
    .o_control_panel { border-bottom-color: #dbe3eb; }
    .o_form_view .o_notebook .nav-link.active { border-top: 3px solid #245b94; }
    .o_menu_brand { font-weight: 600; }
}
